/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.l-header {
    height: 8rem;
    position: relative;
    background-color: green;
    z-index: 999;
}




/*-----------------------------------*\
  #CONTAINER
\*-----------------------------------*/
.l-container {
    max-width: 110rem;
    padding-inline: 2.4rem;
    margin-inline: auto;
    height: 100%;
    z-index: 999;
}
@media (min-width: 1100px) {
    .l-container {
        padding-inline: 0;
    }
}




/*-----------------------------------*\
  #HOME
\*-----------------------------------*/



/*-----------------------------------*\
  #WORK
\*-----------------------------------*/



/*-----------------------------------*\
  #MORE
\*-----------------------------------*/



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/